html {
font-weight: 900;
font-size: 10px;
color: black;
}

body {
margin: 50px;
}

.item {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid rgba(0, 0, 0, 0.9);
   font-size: 35px;
   background-color: yellow;
}